
.o-badge {
	background: #C84630;
	border-radius: .25rem;
	color: #fff;
	display: inline-block;
	font-size: .9rem;
	font-weight: 500;
	margin-left: 5px;
	margin-right: 5px;
    padding: .05em .4em;
    position: relative;
    	bottom: 2px;
}
	.o-badge:hover {
		color: #fff;
	}
