
/**
 * Import fonts.
 * 
 */

@font-face{
    font-family: "futura-pt-book";
    src: url("../fonts/FuturaPTBook.otf") format("woff"),
    	 url("../fonts/FuturaPTBook.otf") format("opentype"),
    	 url("../fonts/FuturaPTBook.otf") format("truetype");
}

@font-face{
    font-family:"futura-pt-extra-bold-italic-regular";
    src: url("../fonts/FuturaPTExtraBoldOblique.otf") format("woff"),
         url("../fonts/FuturaPTExtraBoldOblique.otf") format("opentype"),
    	 url("../fonts/FuturaPTExtraBoldOblique.otf") format("truetype");
}

@font-face{
    font-family:"futura-pt-demi";

    src: url("../fonts/FuturaPTDemi.otf") format("woff"),
         url("../fonts/FuturaPTDemi.otf") format("opentype"),
    	 url("../fonts/FuturaPTDemi.otf") format("truetype");
}

/**
 * The box-sizing property allows us to include the padding and border in an
 * element's total width and height.
 */

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {

	/* The padding and border are included in the width and height */
	box-sizing: border-box;

	/*font-family: "futura-pt-book";*/
	font-family: 'Roboto', sans-serif;

	font-size: 16px;
	font-weight: 300;
	
	line-height: 1.5;
}


/* Remove default element spacing */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
	margin:  0;
	padding: 0;
}


body {
	position: relative;
	height: 100%;
}

/* Remove default table spacing. */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


img {
	width: 100%;
}

/**
 * Headings
 *
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes.
 */

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.125rem;
}

h6 {
	font-size: 1rem;
}

 
/**
 * Links
 * 1. Set the default `color` for every link in the website, sourced from color 
 *    variables.
 *
 * 2. Remove the outline that results in links that are focused or active. 
 */

a {
	color: #2C3E50; /* [1] */
	text-decoration: none;
}
	a:focus,
	a:active {
		outline: none; /* [2] */
	}

	a:hover {
		color: inherit;
	}


