
.c-side-line {
	border-left: 5px solid #FAF6A7;
	content: '';
	position: absolute;
		top: 40px; left: 4rem;
	height: 200px;
	width: 5px;
	z-index: -1;
}

/**
 * Header component
 *
 */

.c-header {
	padding: 2rem 4rem;
	position: relative;
}	
	.c-header::after,
	.c-header::before {
		content: '';
		position: absolute;
			top: 35px; left: 4rem;
		z-index: -1;
	}

	.c-header::after {
		border-top: 5px solid #FAF6A7;
		height: 5px;
		width: 25vw;
	}

	.c-header::before {
		border-left: 5px solid #FAF6A7;
		height: 20vh;
		width: 5px;
	}

	.c-header__logo {		
		display: inline-block;
		font-size: 2rem;
		font-family: "futura-pt-extra-bold-italic-regular";
		font-weight: 500;
		text-transform: uppercase;
	}
	
	.c-header__link {
		background: #FAF6A7;
		color: #41463D;
		padding: 0 5px;
		position: relative;
	}		

	.c-header_dotted-horizontal-border {
		border-top: 5px dotted #FAF6A7;
		content: '';
		position: absolute;
			left: 29vw; top: 2.2rem;
		width: 60px;
	}

/**
 * Nav component
 * 
 */

.c-nav {
	border-top: 5px solid #FAF6A7;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 700;
	position: fixed;
	    top: 40%; left: 4rem;
	
	transform: rotate(270deg) translate(-50%,50%);
	transform-origin: left center;
    z-index: 100;
}
	.c-nav::after {
		border-top: 5px dotted #FAF6A7;
		content: '';
		position: absolute;
			top: -5px; right: 301px;
		width: 50px;
	}

	.c-nav .c-nav__item {
		display: inline-block;
		margin-left: 20px;
		margin-top: 5px;
	}
		.c-nav .c-nav__item:first-child {
			margin-left: 0;
		}

		.c-nav .c-nav__link {
			color: #999;
			font-size: .85rem;
			letter-spacing: .4px;
			transition: color 330ms ease-in-out;
			padding: 10px 5px 4px 5px;
		}
			.c-nav .c-nav__link:hover {
				color: #000;
			}

		.c-nav .c-nav__link--is-active {
			background: #FAF6A7;
			color: #000;
			/*padding: 10px 5px 4px 5px;*/
		}


/**
 * Main component.
 * 
 */
.c-main {
	margin-top: 27px;
	margin-left: auto;
	margin-right: auto;
	width: 68vw;
}


/**
 * Introduction component.
 * 
 */

.c-introduction {
	
}
	.c-introduction__content {
	    color: #303030;
	    font-size: 3.75vw;
	    line-height: 150%;
	    margin-bottom: 1.2rem;
	    z-index: 2;
	}

	.c-introduction__additional {
	    color: #999;
	    font-size: 1.1rem;
	    font-weight: 500;
	    margin-bottom: 5vh;
	    letter-spacing: .03rem;
	    line-height: 180%;
	}

	.c-introduction__link {
		border-bottom: 1px dotted #000;
		padding-bottom: 3px;
		text-decoration: none;

		transition: color 330ms ease-in-out;
	}
		.c-introduction__link:hover {
			color: #000;
		}



/**
 * Social icons component.
 * 
 */

.c-social {}

	.c-social__item {
		display: inline-block;
		margin-left: 25px;
	}
		.c-social__item:first-child {
			margin-left: 0;
		}
		
	.c-social__link {
		font-size: 1.2rem;
	}
		.social__link--facebook {
			color: #3C5A99;
		}

		.social__link--instagram {
			color: #E1306C;
		}

		.social__link--linkedin {
			color: #4875B4;
		}



.c-cover {
	margin-bottom: 10vh;
}


/**
 *
 * Project 
 * 
 */

.c-project {
	display: flex;
}
	.c-project__cover {
		flex: 1 0 55%;
		position: relative;
		z-index: 1;
	}	
		.c-project__cover:before {
			content: '';
		    
		    background: #F2F3F4;
		    position: absolute;
    			top: .7rem; left: .7rem;
		        
	        height: 300px;
	        width: 100%;
		    z-index: -1;
		}

		.c-project__image {
			height: 300px;
		}

		.c-project__categories {
			color: #303030;
		    font-size: .9rem;
		    font-weight: 700;
		    margin: 20px 10px;
		    letter-spacing: .03rem;
		}

	.c-project__details {
		flex: 1 0 45%;
		padding: 1rem 2.5rem;
	}
		.c-project__name {
			color: #303030;
			font-size: 2.25rem;
			margin-bottom: 1.5rem;
		}

		.c-project__description {
			color: #999;
		    font-size: 1.1rem;
		    letter-spacing: .03rem;
		}