/**
 * Objects are small and reusable pieces with no aesthetics 
 * which can be used in UI composition. 
 */



/**
 * 
 * Containers
 *
 */

.o-container,
.o-container-fluid {
	margin-right: auto; 
	margin-left: auto;  
	
	padding-right: 15px;
    padding-left: 15px;
}

.o-container {
	max-width: 1320px;
}

.o-container-fluid {
    width: 100%;
}

/**
 * 
 * Rows
 *
 * 1. Defines a flex container.
 * 2. Determines the direction of each child in a flex container as left-to-right.
 * 3. Will allow a multi-line flex.
 * 4. Provides empty space between rows.
 */
.o-row {
	display: flex; /* [1] */
		flex-direction: row; /* [2] */
		flex-wrap: wrap; /* [3] */

	margin-right: -15px;
	margin-left: -15px;
}
	
	.o-row--divider {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
	
	
	.o-row--small-empty-space { /* [4] */
		margin-top: .75rem;
		margin-bottom: .75rem;
	}
	
	.o-row--normal-empty-space { /* [4] */
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.o-row--large-empty-space { /* [4] */
		margin-top: 3rem;
		margin-bottom: 3rem;
	}


/**
 * 
 * Columns
 *
 * 1. Specifies the initial main size of a flex item (100%).
 * 2. Align the content of the section vertically centered. 
 * 
 */
.o-column {
	color: #222222;

	flex-basis: 100%; /* [1] */
}
	.o-column__row {
		margin-bottom: 2.5rem;
	}
			
	.o-column__title {
		font-size: 1.75rem;
	    font-weight: 700;
	}

	.o-column__subtitle {
		font-size: 1.25rem;
		margin-bottom: 1rem;
	}

	.o-column__description {
		color: #292a2c;

		display: flex; /* [2] */
			align-items: center; /* [2] */
	}

	.o-column__description--small  { font-size: 1rem; }
	.o-column__description--medium { font-size: 1.125rem; }
	.o-column__description--large  { font-size: 1.25rem; }
		
	@media screen and (min-width: 800px) {
		.o-column {
			flex: 1;
		}
	}


/**
 * 
 * Buttons
 * 
 */

.o-button {
	background: #FFF;
	border: 2px solid #C84630;
    border-radius: 1px;

    color: #C84630;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    transition: all .2s ease;
	z-index: 2;
}
	.o-button:hover {
		background: #C84630;
		color: #FFF;
	}

	.o-button--is-big {
		padding: .5rem 1.7rem;
	}


/**
 * 
 * Badges
 * 
 */
.o-badge {
	background: #C84630;
	border-radius: .25rem;
	color: #fff;
	display: inline-block;
	font-size: .9rem;
	font-weight: 300;
	margin: 0 5px;
    padding: .05em .4em;
}
	.o-badge:hover {
		color: #fff;
	}


/**
 * 
 * Icons
 * 
 */
.o-icon {
	margin-right: 5px;
    margin-left: 15px;
	width: 1rem;
	height: 1rem;
}
	.o-icon:first-child {
		margin-left: 0;
	}


/**
 * 
 * Dividers
 * 
 */
.o-divider {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 25px;
}
	.o-divider--big {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}


/**
 * 
 * Forms
 * 
 */
.o-form {
	flex: 0 1 65%;
		margin-bottom: 1rem;
}
	.o-form__header {
		margin-bottom: 2.5rem;
	}
		.o-form__title {
			font-size: 3rem;
		}

		.o-form__subtitle {
			font-size: 1.2rem;
		}

.o-form__list {
	margin-left: 0;
	list-style: none;
}
	.o-form__item {
		margin-bottom: 1rem;
	}
		.o-form__control {
			background: transparent !important;
			border: 3px solid #C84630;
			border-radius: 7px;
			color: #C84630;
			outline:none;
			resize: none;
			padding: .8rem;
			width: 100%;
		}

		.o-form__textarea {
			height: 150px;	
		}

		.o-form__button {
			border: 3px solid #C84630;
			background: transparent;
			color: $form-color;
			cursor: pointer;
			font-weight: 700;
			padding: 1rem 3rem;
			transition: 330ms all ease-in-out;
		}
			.o-form__button:hover {
				background: #C84630;
				color: #fff;
			}


/**
 * 
 * Utilities
 * 
 */

.o-text-align--right {
	text-align: right;
}

.o-clearfix {
	clear: both;
}

.o-highlight {
	color: #C84630;
	padding: 0 5px;
	font-family: "futura-pt-demi"
}