// - - - - - - - - - - - - - - - - - - - - - - - - 
// Logo
// - - - - - - - - - - - - - - - - - - - - - - - - 

/** 
 * 1. Position the logo vertically in the center.  
 * 2. Animation property: duration | timing-function | delay | 
 *					      fill-mode | name
 *	  Animation `@keyframes` are sourced from animations.scss file.
 *	  
 *	  animation-fill-mode: how a CSS animation applies styles to 
 *	  					   its target before and after its execution.
 *    					   [forwards, backwards, both, none]
 *    (https://developer.mozilla.org/en-US/docs/Web/CSS/animation-fill-mode)
 */

.c-logo {
	
	margin-top: auto; /* [1] */
	text-align: center;

	.c-logo__image {

		margin-bottom: .7rem;
		width: 150px;
		
		@include for-size(tablet-portrait-up) {
			width: 300px;
		}

		@include for-size(desktop-up) {
			width: 400px;
		}
		
		&.c-logo__image--fade-enter-active { 
			animation: 400ms ease-out 400ms both fade-in; /* [2] */
		}

	} /* <cover__logo> */

	.c-logo__title {

		font-size: 2rem;
		margin-bottom: 0;
		
		@include for-size(tablet-portrait-up) {
			font-size: 3rem;
			margin-bottom: 1rem	;
		}

		@include for-size(desktop-up) {
			font-size: 4rem;
			margin-bottom: 2.7rem;
		}
		
		&.c-logo__title--fade-slide-up-enter-active {
		    animation: 600ms ease-in-out 600ms both fade-in-up; /* [2] */			
		}

	} /* <cover__title> */

} /* </logo> */