// - - - - - - - - - - - - - - - - - - - - - - - - 
// Colors
// - - - - - - - - - - - - - - - - - - - - - - - - 


// The color settings file contains project-wide
// color variables that can be accessed to the entire 
// codebase.


$text-color: #2C3E50 !default;


$link-color: $text-color;
$link-color-hover: #28B463 !default;


$cover-background-color: #f6f6f6 !default;
$cover-info-color: #404040 !default;
$cover-contact-numbers-color: #000 !default;

$contact-form-background-color: #2f221d !default;


$service-description-color: #404040 !default; 

$form-color: #d3d1a2 !default;