.c-social {}

	.c-social__item {
		display: inline-block;
		margin-left: 25px;
	}
		.c-social__item:first-child {
			margin-left: 0;
		}

	.c-social__link {
		font-size: 1.2rem;
	}
		.social__link--facebook {
			color: #3C5A99;
		}

		.social__link--instagram {
			color: #E1306C;
		}

		.social__link--linkedin {
			color: #4875B4;
		}
